<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BandPowerPointRemote.iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A870FE11BEACE5500985CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A870FF51BEACE5500985CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8710001BEACE5500985CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
